{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nyhilo.website</title>

    <meta name="description" content="Words on a Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>

<body>
    <div class="container">
        <h1>Welcome to Nyhilo.website</h1>
        <ul>
            <li><a href="/stupidpowers">Become a stupid superhero</a></li>
            <li><a href="/cataphracts">Cataphracts ruleset</a></li>
        </ul>
    </div>
</body>

<html>