{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Cycle 15 Game Map</title>
    <meta name="description" content="Cycle 15 Game Map">

    <link rel="stylesheet" href="{% static 'cycle15/css/cycle15.css' %}"/>

    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"/> {% endcomment %}
</head>

<body style="margin: 0;">
    <canvas id="map" class="toplevel"></canvas>
    <div id="images" style="display: none;">
        {% comment %} <img id='basetest' src="{% static 'cycle15/img/map_base.png' %}" alt=""> {% endcomment %}
    </div>
    <script>
        const spritems = {}
        mapBaseImg = "{% static 'cycle15/img/map_base.png' %}"
        let sprites = [
            { x: 100, y: 100, image: (() => { const img = new Image(); img.src = "{% static 'cycle15/img/rombibiribombee.png' %}"; return img; })() },
            { x: 200, y: 200, image: (() => { const img = new Image(); img.src = "{% static 'cycle15/img/trungle.png' %}"; return img; })() },
            { x: 200, y: 200, image: (() => { const img = new Image(); img.src = "{% static 'cycle15/img/klink.webp' %}"; return img; })() },
        ];
    </script>
    <script src="{% static 'cycle15/js/cycle15.2.js' %}"></script>
</body>
</html>