{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Cycle 15 Game Map</title>
    <meta name="description" content="Cycle 15 Game Map">

    <link rel="stylesheet" href="{% static 'cycle15/css/cycle15.css' %}"/>

    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"/> {% endcomment %}
</head>

<body style="margin: 0;">
    <canvas id="map" class="toplevel"></canvas>
    <div id="images" style="display: none;">
        {% comment %} <img id='basetest' src="{% static 'cycle15/img/map_base.png' %}" alt=""> {% endcomment %}
    </div>
    <input id="passkey-input" type="text" placeholder="passkey">
    <button id="save-sprites" onclick="saveSprites()">Save Player Positions</button>
    <span id="response"></span>
    <script>
        const spritems = {}
        mapBaseImg = "{% static 'cycle15/img/map_base.png' %}"
        let spritesBase = [
        {% for sprite in sprites %}
            { user: '{{ sprite.user }}', x: {{ sprite.x }}, y: {{ sprite.y }}, image: (() => { const img = new Image(); img.src = "{{ sprite.image }}"; return img; })() },
        {% endfor %}
        ];
    </script>
    <script src="{% static 'home/js/global.js' %}"></script>
    <script src="{% static 'cycle15/js/cycle15.2.js' %}"></script>
    <script src="{% static 'cycle15/js/spriteupload.js' %}"></script>
</body>
</html>