{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Cycle 15 Sprite Upload</title>
    <meta name="description" content="Cycle 15 Game Map">

    <link rel="stylesheet" href="{% static 'cycle15/css/cycle15.css' %}"/>

    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"/> {% endcomment %}
</head>
<body>
    <form action="{% url 'sprite_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required><br><br>

        <label for="xPosition">X Position:</label>
        <input type="number" id="xPosition" name="x_position" required><br><br>

        <label for="yPosition">Y Position:</label>
        <input type="number" id="yPosition" name="y_position" required><br><br>

        <label for="fileUpload">File Upload:</label>
        <input type="file" id="fileUpload" name="file_upload" accept=".jpg, .jpeg, .png" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>