html, body {
    margin: 0;
    padding: 0;
}

#map {
    display: block;
}

#images {
    display: none;
}

#passkey-input {
    position: absolute;
    left: 1rem;
    bottom: 5rem;
    z-index: 10000;
}

#save-sprites {
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    z-index: 10000;
}

#response {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 10000;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-out;
  }